---
import Layout from "../layouts/Layout.astro";
import More from "../components/More.tsx";
---

<Layout title="Count More">
  <main class="max-w-[768px] mx-6 md:mx-auto">
    <h1 class="text-6xl font-bold pb-4 pt-12">Count More</h1>
    <h3 class="text-2xl font-medium pb-4">
      Are you a student? Find out where your vote counts more in 2024: your home
      state, or your school state.
    </h3>
    <More client:load />
  </main>
</Layout>
