---
import Layout from "../layouts/Layout.astro";
import More from "../components/More.tsx";
---

<Layout title="Count More">
  <main
    class="md:max-w-[768px] lg:max-w-[960px] mx-3 md:mx-auto flex flex-row flex-wrap md:pt-12 font-cabinet font-bold"
  >
    <div class="w-full md:w-1/3 flex-shrink flex flex-col">
      <p
        class="text-2xl uppercase font-black pt-12 text-[16px] md:text-[18px] leading-[20px] ml-[8px]"
      >
        Make your vote
      </p>
      <h1
        class="text-7xl font-extrabold py-3 text-[64px] md:text-[75px] leading-[60.16px] md:leading-[70.5px] tracking-tight cursor-pointer transition-colors duration-200"
        onclick="window.location.href = '/'"
      >
        Count<br /><span class="pl-[3px]">More</span>
      </h1>
    </div>
    <div class="w-full md:w-2/3 flex flex-col space-y-8">
      <div class="border-4 mt-4 md:m-4 border-black p-4">
        <More client:load handler="voteamerica" />
      </div>
      <div class="md:border-4 mt-4 md:m-4 border-transparent p-1 md:p-4">
        <p class="font-cabinet font-extrabold text-[24px]">
          Why does my vote count more in certain states?
        </p>
        <p class="font-satoshi font-medium text-[20px] leading-[30px] pt-2">
          Your vote counts more in a swing state because it might swing the
          election.
        </p>
        <p class="font-satoshi font-medium text-[20px] leading-[30px] pt-4">
          Swing states are states where the election is close and a small number
          of votes can change the outcome. For example, in 2020, Biden won the
          state of Georgia by a razor-thin margin of just 11,779 votes — and
          there are more than 300,000 college students in Georgia!
        </p>
        <p class="font-cabinet font-extrabold text-[24px] pt-8">
          How do you decide which states count more?
        </p>
        <p class="font-satoshi font-medium text-[20px] leading-[30px] pt-2">
          Our list of swing states is from the <a
            href="https://www.cookpolitical.com/ratings/presidential-race-ratings"
            target="_blank"
            class="underline cursor-pointer md:hover:text-gray-600 transition-colors duration-200"
            >2024 Cook Political Report</a
          >.
        </p>
        <p class="font-satoshi font-medium text-[20px] leading-[30px] pt-4">
          There are many other important House and Senate races on the ballot
          this November. Wherever you live, your vote counts.
        </p>
        <p class="font-cabinet font-extrabold text-[24px] pt-8">
          Can I legally register in my home state or school state?
        </p>
        <p class="font-satoshi font-medium text-[20px] leading-[30px] pt-2">
          Yes, you can register in either state provided that you have a
          long-term intent to live in that state. Registering to vote in a new
          state will typically cancel your registration in any previous state.
          And even though we know you’d never do this, you can’t vote in two
          states.
        </p>
        <p class="font-cabinet font-extrabold text-[24px] pt-8">
          Are there efforts to change the electoral college?
        </p>
        <p class="font-satoshi font-medium text-[20px] leading-[30px] pt-2">
          States can agree to award their electoral college votes to the winner
          of the national popular vote by joining the <a
            href="https://www.nationalpopularvote.com/"
            target="_blank"
            class="underline cursor-pointer md:hover:text-gray-600 transition-colors duration-200"
            >National Popular Vote Interstate Compact</a
          >.
        </p>
        <p class="font-satoshi font-medium text-[20px] leading-[30px] pt-2">
          If enough states do this, the President would be elected by popular
          vote rather than the electoral college &mdash; and each person's vote
          would count the same no matter where they lived.
        </p>
      </div>

      <!-- The mobile footer -->
      <div
        class="md:hidden flex flex-row py-12 border-4 border-transparent mt-4 md:m-4 items-baseline"
      >
        <div class="font-cabinet font-extrabold text-[18px] leading-[20px]">
          ©2024 Count More
        </div>
        <div class="flex-grow"></div>
        <a
          class="block font-cabinet font-extrabold text-[18px] leading-[20px] text-white bg-black rounded-md px-[20px] py-[14px] md:hover:bg-gray-700 transition-colors duration-200"
          href="mailto:Dave Peck <dave@frontseat.org>, Matt Lerner <matt@frontseat.org>?subject=Count%20More"
        >
          Contact</a
        >
      </div>
    </div>

    <!-- the desktop footer -->
    <div
      class="hidden md:flex w-full flex-row py-12 border-4 border-transparent mt-4 md:m-4 items-baseline"
    >
      <div class="font-cabinet font-extrabold text-[18px] leading-[20px]">
        ©2024 Count More
      </div>
      <div class="flex-grow"></div>
      <a
        class="block font-cabinet font-extrabold text-[18px] leading-[20px] text-white bg-black rounded-md px-[20px] py-[14px] md:hover:bg-gray-700 transition-colors duration-200"
        href="mailto:Dave Peck <dave@frontseat.org>, Matt Lerner <matt@frontseat.org>?subject=Count%20More"
      >
        Contact</a
      >
    </div>
  </main>
</Layout>
