---
import Layout from "../layouts/Layout.astro";
import MoreAndText from "../components/MoreAndText.tsx";
---

<Layout title="Count More">
  <main
    class="md:max-w-[768px] lg:max-w-[960px] mx-3 md:mx-auto flex flex-row flex-wrap md:pt-12 font-cabinet font-bold"
  >
    <div class="w-full md:w-1/3 flex-shrink flex flex-col">
      <p
        class="text-2xl uppercase font-black pt-12 text-[16px] md:text-[18px] leading-[20px] ml-[8px]"
      >
        Make your vote
      </p>
      <h1
        class="text-7xl font-extrabold py-3 text-[64px] md:text-[75px] leading-[60.16px] md:leading-[70.5px] tracking-tight cursor-pointer transition-colors duration-200"
        onclick="window.location.href = '/'"
      >
        Count<br /><span class="pl-[3px]">More</span>
      </h1>
    </div>
    <div class="w-full md:w-2/3 flex flex-col space-y-8">
      <MoreAndText client:load handler="voteamerica" />

      <!-- The mobile footer -->
      <div
        class="md:hidden flex flex-row py-12 border-4 border-transparent mt-4 md:m-4 items-baseline"
      >
        <div class="font-cabinet font-regular text-[18px] leading-[20px]">
          ©2024 Count More
        </div>
        <div class="flex-grow"></div>
        <a
          class="font-cabinet font-regular text-[18px] leading-[20px] underline hover:text-gray-700 transition-colors duration-200"
          href="mailto:Dave Peck <dave@frontseat.org>, Matt Lerner <matt@frontseat.org>?subject=Count%20More"
        >
          Contact</a
        >
      </div>
    </div>

    <!-- the desktop footer -->
    <div
      class="hidden md:flex w-full flex-row py-12 border-4 border-transparent mt-4 md:mr-4 items-baseline"
    >
      <div class="font-cabinet font-regular text-[18px] leading-[20px]">
        ©2024 Count More
      </div>
      <div class="flex-grow"></div>
      <a
        class="font-cabinet font-regular text-[18px] leading-[20px] underline hover:text-gray-700 transition-colors duration-200"
        href="mailto:Dave Peck <dave@frontseat.org>, Matt Lerner <matt@frontseat.org>?subject=Count%20More"
      >
        Contact</a
      >
    </div>
  </main>
</Layout>
