---
import VAForm from "../layouts/va-form.astro";
---

<VAForm title="Count More: Register To Vote" action="Register to vote">
  <div
    class="voteamerica-embed"
    data-subscriber="countmore"
    data-tool="register"
  >
  </div>
</VAForm>
