---
import VAForm from "../layouts/va-form.astro";
---

<VAForm
  title="Count More: Register To Vote"
  action="Check your registration status"
>
  <div class="voteamerica-embed" data-subscriber="countmore" data-tool="verify">
  </div>
</VAForm>
