---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-murk">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XKE8361DZ1"
    ></script>
    <script>
      // @ts-nocheck
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        console.debug("gtag: ", arguments);
        dataLayer.push(arguments);
      }
      window.gtag = window.gtag || gtag;
      gtag("js", new Date());
      gtag("config", "G-XKE8361DZ1"); // , { debug_mode: true });
    </script>

    <!-- basic meta -->
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Are you a student? Find out where your vote counts more in 2024: your home state, or your school state."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- CONSIDER get a Twitter handle <meta name="twitter:site" content="@countMoreUS" /> -->
    <meta name="twitter:title" content="Count More" />
    <meta
      name="twitter:description"
      content="Are you a student? Find out where your vote counts more in 2024: your home state, or your school state."
    />
    <meta
      name="twitter:image"
      content="https://countmore.us/img/count_more-800x418.png"
    />

    <!-- Facebook (open graph) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Count More" />
    <meta
      property="og:description"
      content="Are you a student? Find out where your vote counts more in 2024: your home state, or your school state."
    />
    <meta
      property="og:image"
      content="https://countmore.us/img/count_more-1200x630.png"
    />
    <meta property="og:url" content="https://countmore.us/" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    /* disable font antialiasing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Thin.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Thin.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Thin.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Extralight.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Extralight.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Extralight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Light.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Light.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  } */

  @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Regular.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Regular.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  /* @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Medium.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  } */

  @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Bold.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Extrabold.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Extrabold.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Extrabold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "CabinetGrotesk";
    src:
      url("/fonts/CabinetGrotesk-Black.woff2") format("woff2"),
      url("/fonts/CabinetGrotesk-Black.woff") format("woff"),
      url("/fonts/CabinetGrotesk-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  /* @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-Light.woff2") format("woff2"),
      url("/fonts/Satoshi-Light.woff") format("woff"),
      url("/fonts/Satoshi-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-LightItalic.woff2") format("woff2"),
      url("/fonts/Satoshi-LightItalic.woff") format("woff"),
      url("/fonts/Satoshi-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  } */

  @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-Regular.woff2") format("woff2"),
      url("/fonts/Satoshi-Regular.woff") format("woff"),
      url("/fonts/Satoshi-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-Italic.woff2") format("woff2"),
      url("/fonts/Satoshi-Italic.woff") format("woff"),
      url("/fonts/Satoshi-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-Medium.woff2") format("woff2"),
      url("/fonts/Satoshi-Medium.woff") format("woff"),
      url("/fonts/Satoshi-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-MediumItalic.woff2") format("woff2"),
      url("/fonts/Satoshi-MediumItalic.woff") format("woff"),
      url("/fonts/Satoshi-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }

  /* @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-Bold.woff2") format("woff2"),
      url("/fonts/Satoshi-Bold.woff") format("woff"),
      url("/fonts/Satoshi-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-BoldItalic.woff2") format("woff2"),
      url("/fonts/Satoshi-BoldItalic.woff") format("woff"),
      url("/fonts/Satoshi-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  } */

  @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-Black.woff2") format("woff2"),
      url("/fonts/Satoshi-Black.woff") format("woff"),
      url("/fonts/Satoshi-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }

  /* @font-face {
    font-family: "Satoshi";
    src:
      url("/fonts/Satoshi-BlackItalic.woff2") format("woff2"),
      url("/fonts/Satoshi-BlackItalic.woff") format("woff"),
      url("/fonts/Satoshi-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  } */
</style>
